.reportsInput {
  width: 100%;
}

.reportsInput .tables {
  width: 100%;
  overflow: hidden;
  overflow: auto;
}

.reportsInput table {
  border-collapse: collapse;
  text-transform: capitalize;
  color: rgb(65, 88, 90);
}
.reportsInput table th {
  font-weight: 600;
  padding: 10px 20px;
  text-align: start;
  cursor: pointer;
}
.reportsInput table tr {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
}
.reportsInput table td {
  font-weight: 400;
  padding: 10px 20px;
}

.reportsInput table td svg {
  color: rgb(0, 134, 187);
  font-size: 20px;
  cursor: pointer;
}
