.signInContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: white;
  gap: 100px;

  display: flex;
  flex: 1;
  position: fixed;
  top: 0;
  left: 0;
}
.signInContainer .loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  min-width: 383px;
  min-height: 383px;

  background-color: white;
  height: 50vh;
  width: 50vh;

  -webkit-box-shadow: 0px 10px 13px -7px #424242,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #353535, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.signInContainer .loginContainer .formField {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 95%;
  margin-bottom: 10px;
}

.signInContainer .loginContainer .formField input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}
.signInContainer .loginContainer .formField label {
  top: 0px;
  margin-top: -5px;
}

.signInContainer .loginContainer .formField .button {
  justify-content: center;
  border-bottom: none;
  background-color: #515def;
  border: none;
  padding: 8px;
  color: white;
  font-size: 18px;
}
.signInContainer .loginContainer .formField .button:hover {
  cursor: pointer;
}

.signInContainer .loginContainer .logoContainer {
  display: flex;
  margin-bottom: 3vh;
}
.signInContainer .loginContainer .logoContainer .logo {
  display: flex;
  flex: 1;
  height: 8vh;
}

.signInContainer .loginContainer .getStarted {
  display: flex;
  font-weight: 600;
  margin-bottom: -1vh;
}
.signInContainer .loginContainer .loginMessage {
  display: flex;
  margin: 15px;
  font-size: 13px;
}
.signInContainer .loginContainer .forgotPassword {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}
.signInContainer .loginContainer .forgotPassword a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.signInContainer .loginContainer .forgotPassword a:hover {
  text-decoration: underline;
}
.signInContainer .loginContainer .signUp {
  display: flex;
  align-items: center;
}

.signInContainer .loginContainer .signUp a {
  margin-left: 1vh;
  color: #ff8682;
  text-decoration: none;
  text-transform: capitalize;
}

.signInContainer .loginContainer .signUp a,
.signInContainer .loginContainer .signUp p {
  font-size: 14px;
}

.inputs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.inputs input {
  width: 400px;
}

.inputs svg {
  position: absolute;
  right: 20px;
  top: 12px;
  cursor: pointer;
  font-size: 18px;
}
.login_img {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
}
.login_img.test {
  background-color: #d9d9d95e !important;
  height: 90%;
  width: 38%;
  border-radius: 20px;
}

.login_img img {
  height: 90%;
  width: 100%;
  object-fit: contain;
}
.login_img.test img {
  height: auto;
  width: 80%;
  margin: 0 auto;
}

.loginContainer h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
}
