.product_Input {
  width: 100%;
}
.autocomplete-container {
  width: 600px;
  margin: 0px auto;
  position: relative;
}

.autocomplete-container .MuiAutocomplete-inputRoot {
  width: 600px !important;
  /* background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; */
}

.autocomplete-container .autocomplete-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  border-bottom: 1px solid gray;
}

.autocomplete-container .autocomplete-option:hover {
  background-color: #e0e0e0;
}

.autocomplete-container .option-name,
.autocomplete-container .option-quantity,
.autocomplete-container .option-price {
  width: 30%;
  padding: 4px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
}

.autocomplete-container .option-name .name,
.autocomplete-container .option-quantity .name,
.autocomplete-container .option-price .name {
  font-weight: bold;
  font-size: 13px;
}

.autocomplete-container .option-quantity,
.autocomplete-container .option-price {
  text-align: left;
}

.addinput form {
  padding: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  display: none;
}
.addinput.active form {
  display: flex;
}

.addinput form .div {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.addinput form input {
  padding: 10px;
  font-size: 14px;
  outline-style: 0.3px solid;
  outline: none;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-weight: 400;
}

.addinput input::placeholder {
  font-weight: 300;
}
.addinput form label {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 10px;
  cursor: pointer;
}

.addinput form .btn {
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.addinput form .btn button {
  text-transform: capitalize;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  color: white;
  border: 1px solid rgb(0, 134, 187);
  color: rgb(0, 134, 187);
  background-color: transparent;
  color: rgb(0, 134, 187);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.addinput form .btn button:hover {
  background-color: rgb(0, 134, 187);
  color: white;
}
.addinput .close {
  border: 1px solid rgb(65, 88, 90) !important;
  color: rgb(65, 88, 90) !important;
}
.addinput .close:hover {
  background-color: rgb(65, 88, 90) !important;
  color: white !important;
}
